main.pdf
*.aux
*.log
*.ist
*.acn
*.glo
*.idx
main.out
main.tex~
main.bbl
main.bib
main.blg
main.toc
main.lot
main.lof
main.acr
main.alg
main.ilg
main.ind
Makefile~
img/dia/*.pdf
img/dia/*.dia~
img/tif/*.png
img/svg/*.pdf
main-blx.bib
vc.tex
notes.pdf
*.snm
*.nav
*-blx.bib
main.run.xml
*.vrb
